/*************** Slider ************/
.slick-loading .slick-list{ background: #fff url('/web/20180824031625im_/http://diferencialengenharia.com/wp-content/plugins/wp-responsive-recent-post-slider/assets/css/ajax-loader.gif') center center no-repeat;}
.slick-slider{ position: relative;display: block; -moz-box-sizing: border-box;box-sizing: border-box; -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;  -webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block; overflow: hidden;  margin: 0; padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{ cursor: pointer; cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before, .slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{ visibility: hidden;}
.slick-slide{ display: none; float: left; height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{ display: block;}
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{ display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}
/*
     FILE ARCHIVED ON 03:16:25 Aug 24, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:43:48 Feb 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 17.283
  exclusion.robots: 0.048
  exclusion.robots.policy: 0.03
  esindex: 0.017
  cdx.remote: 89.906
  LoadShardBlock: 461.181 (3)
  PetaboxLoader3.resolve: 413.782 (3)
  PetaboxLoader3.datanode: 225.957 (4)
  load_resource: 204.174
*/